body {
    background-color: #222;
}

#chat-container {
    width: 400px;
    height: 500px;
    white-space: wrap;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 10px;
    background-color: #222;
}

.shadow__btn {
    position: absolute;
    top: -85px;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 40px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 7px;
    font-size: 25px;
    letter-spacing: 4px;
    font-weight: 1000;
    cursor: pointer;
    transition: 0.5s;
    transition-property: box-shadow;
    white-space: nowrap;
}

#chat-box {
    height: 400px;
    text-overflow: ellipsis;
    white-space: wrap;
    width: auto;
    overflow-y: auto;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #333;
    color: white;
}

#message-input {
    width: calc(100% - 22px);
    padding: 8px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #444;
    color: white;
}

#send-button {
    width: calc(100% - 5px);
    padding: 8px;
    margin-top: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.shadow__btn {
    background: rgb(0, 140, 255);
    box-shadow: 0 0 25px rgb(0, 140, 255);
}

.shadow__btn:hover {
    box-shadow: 0 0 5px rgb(0, 140, 255),
        0 0 25px rgb(0, 140, 255),
        0 0 50px rgb(0, 140, 255),
        0 0 100px rgb(0, 140, 255);
}


.form__group {
    position: relative;
    padding: 20px 0 0;
    width: 100%;
    max-width: 400px;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 17px;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown~.form__label {
    font-size: 17px;
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #9b9b9b;
    pointer-events: none;
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #116399, #38caef);
    border-image-slice: 1;
}

.form__field:focus~.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #38caef;
    font-weight: 700;
}


.form__field:required,
.form__field:invalid {
    box-shadow: none;
}